{
  "contentFile": "content.json",
  "mediaDirectory": "contentMedia/",
  "blocks": {
    "header": {
      "title": "text",
      "intro": "markdown",
      "heroImage": "file"
    },
    "blog": {
      "title": "text",
      "intro": "markdown",
      "articles": {
        "title": "text",
        "photo": "file",
        "content": "markdown"
      }
    }
  }
}
